@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

.App {
  text-align: center;
  font-family: 'Happy Monkey';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  width: 60vw;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.445));
}

.header {
  opacity: 0;
  margin-bottom: 8rem;
  border-bottom: 5px solid orangered;
  font-weight: 800;
  text-transform: capitalize;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

input {
  border-radius: 25px;
  padding: 0.5rem 0.75rem;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 335));
}

input:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 335));
}

.btn,
input[type='submit'] {
  border-radius: 25px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
}

.btn:hover {
  cursor: pointer;
  background: orange;
  color: white;
  font-weight: bold;
}

.vote {
  margin: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  border: 0;
  background: transparent;
  color: #f8f8f8;
  font-size: 1.125rem;
  padding: 1rem 2rem;
  border: 1px solid #3b3b3b;
  border-radius: 25px;
  align-self: start;
  justify-self: start;
}

.vote:hover::after,
.vote:focus::after {
  top: 0;
  left: 0;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translateY(-3px);
  box-shadow: 0px 3px 0 0 #121212;
}
.vote::after {
  content: '';
  position: absolute;
  background-color: #fd5800;
  opacity: 0;
  height: 1em;
  width: 100%;
  top: 1.5em;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transform-origin: bottom left;
  transition: all 0.3s cubic-bezier(0.45, 1.43, 0.72, 1.18);
}

.vote:active {
  transform: translateY(0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.vote:active::after {
  transform: translateY(0px);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: clamp(2rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1rem, 1vw, 1.5rem);
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.vote-container {
  padding: 1rem;
  border-bottom: 1px solid black;
}

form > label {
  margin: 0.5rem 0;
  color: white;
  font-size: 1rem;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 335));
}

form > input {
  margin: 0.5rem 0;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 335));
}

form > input:hover {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 335));
}

@media (min-width: 768px) {
  .header {
    opacity: 1;
    margin-bottom: 2rem;
  }

  .logo {
    left: 15vw;
    top: 3vh;
    width: 20vw;
    height: auto;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.445));
  }

  .wrapper {
    flex-direction: row;
  }

  .vote-container {
    border-right: 1px solid black;
  }

  .vote-container:nth-of-type(3) {
    border-right: 1px solid transparent;
  }
}
